#mc_embed_signup {
    margin-bottom: 20px;
}

#mc_embed_signup label {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

#mc_embed_signup input {
    border: 1px solid #e6e6e6;
    -webkit-appearance: none;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: lighter;
}

#mc_embed_signup{
    margin-bottom: 20px;
}