@media (min-width: 1024px) {
    body {}

    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: stretch;
    }

    .title {
        position: relative;
        color: $white;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 50px;
        padding: 0;
    }

    .title {
        /* Border is the new background */
        background: none;

        span {
            /* Abs positioning makes it not take up vert space  */
            position: absolute;
            bottom: -10px;
            left: 3px;

            &:not(.span--iconTitle) {
                @include rotate;
            }

            &.span--iconTitle {
                top: 50%;
                left: 0;
                right: 0;
                text-align: center;
                margin-top: -0.5em;
            }
        }
    }

    .cards {
        -webkit-flex-basis: 32%;
        -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    }
}