@media (min-width: 1024px) {
    body {}

    .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: stretch;
    }

    .title {
        position: relative;
        color: $white;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        width: 50px;
        padding: 0;
    }

    .title span {
        /* Abs positioning makes it not take up vert space  */
        position: absolute;
        bottom: -10px;
        left: 3px;

        /* Border is the new background */
        background: none;

        /* Rotate from top left corner (not default) */
        -webkit-transform-origin: 0 0;
        -moz-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        -o-transform-origin: 0 0;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
    }

    .cards {
        -webkit-flex-basis: 32%;
        -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    }
}