.resetBtn {
    background-color: transparent;
    border: 1px solid $orange;
    color: $orange;
}

.resetBtn i {
    color: inherit;
}

.no-touch .resetBtn:hover {
    background-color: $orange;
    color: $white;
    border: 1px solid $orange;
}

#signin {
    background-color: $orange;
    color: $white;
}

.no-touch #signin:hover {
    background-color: $orangeDarker;
}