#reset {
    background-color: transparent;
    border: 1px solid $orange;
    color: $orange;
}

#reset i {
    color: inherit;
}

.no-touch #reset:hover, #signin {
    background-color: $orange;
    color: $white;
}

.no-touch #signin:hover {
    background-color: $orangeDarker;
}