#Research {
    background: $ResearchColor;
}

#Plan {
    background: $PlanColor;
}

#Explore {
    background: $ExploreColor;
}

#Communicate {
    background: $CommunicateColor;
}

#Create {
    background: $CreateColor;
}

#Feedbacks {
    background: $FeedbacksColor;
}

#Finalise {
    background: $FinaliseColor;
}

#Delight {
    background: $DelightColor;
}

#Analyse {
    background: $AnalyseColor;
}