#footer .typeform-share {
    display: inline-block;
    margin-left: 10px;
}

.no-touch #footer .typeform-share:hover {
    background-color: $blueLight;
}

.fb_iframe_widget span {
    vertical-align: top !important;
}

#github {
    background-color: $gray;
}

#springboard { 

    width: 430px;

    a {
        display: block;
    }

    img {
        border: $lighter4 1px solid;
        width: 100%;
    }

    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

#articlePopUp {
    background: $white;
    text-align: left;
    border: $lighter4 1px solid;
    border-radius: 2px;
    text-align: left;
    width: 430px;
    margin: 0;

    a {
        padding: 16px;
        display: block;
        color: #222;
    }

    @media screen and (max-width: 480px) {
        width: 100%;

        a {
            white-space: normal;
            text-decoration: underline;
        }
    }

    #medium-logo {
        float: right;
    }

    h2 {
        font-weight: 500;
        margin-top: 16px;
    }
}

#articlePopUp:hover, #springboard a:hover img {
    box-shadow: 0 0px 16px rgba(53, 53, 53, 0.24);
}


#mm-embedded-form {
    display: flex;
    margin: 0.5rem auto 2rem;
    vertical-align: middle;
    align-items: center;
    justify-content: center;

    .mm-field{
        width: 250px;
        margin: 0 .8rem;
    }    
    button {
        background-color: $buttonBackground;
        color: $white;
        font-weight: 300;
        &:hover {
            background-color: $buttonBackgroundHover;
        }
    }
    label,
    .mm-powered-by {
        display: none;
    }
}

#gdrivebox {

    span {
        font-size: 0.9em;
        display: none;
    }
}

#mc_embed_signup,
#credits,
#toolbar {
    margin-bottom: 20px;
}

#inspiredby {
    margin-top: 20px;
    font-size: 0.8em;
}

.no-touch .mfp-close:hover {
    color: $white;
}

.no-touch .mfp-close:active {
    top: 0;
}

// .support-us-wrapper {
//     z-index: 2;
//     /* margin: 2rem auto 3rem; */

//     @media (min-width: 1024px) {
//         /* position: fixed;
//         top: 3rem;
//         right: 1rem;
//         text-align: right; */
//     }
// }

// .wrapper--paypal-button {
//     text-align: center;
// }

// .wrapper--patreon-button {
//     display: block;
//     width: 100%;
//     max-width: 198px;
//     text-align: center;
//     height: 40px;

//     @media (min-width: 1024px) {
//         .body-multi & {
//             margin-top: -0.75rem;
//         }
//     }
// }
