#footer .typeform-share {
    display: inline-block;
    margin-left: 10px;
}

.no-touch #footer .typeform-share:hover {
    background-color: $blueLight;
}

.fb_iframe_widget span {
    vertical-align: top !important;
}

#github {
    background-color: $gray;
}

#mm-embedded-form {
    display: flex;
    margin: 0.5rem auto 2rem;
    vertical-align: middle;
    align-items: center;
    justify-content: center;

    .mm-field{
        width: 250px;
        margin: 0 .8rem;
    }    
    button {
        background-color: $buttonBackground;
        color: $white;
        font-weight: 300;
        &:hover {
            background-color: $buttonBackgroundHover;
        }
    }
    label,
    .mm-powered-by {
        display: none;
    }
}

#gdrivebox {
    span {
        font-size: 0.9em;
        display: none;
    }
}

#sharebox ul li {
    display: inline-block;
    vertical-align: top;
}

#mc_embed_signup,
#credits,
#toolbar {
    margin-bottom: 20px;
}

#inspiredby {
    margin-top: 20px;
    font-size: 0.8em;
}

.no-touch .mfp-close:hover {
    color: $white;
}

.no-touch .mfp-close:active {
    top: 0;
}

.support-us-wrapper {
    z-index: 2;
    /* margin: 2rem auto 3rem; */

    @media (min-width: 1024px) {
        /* position: fixed;
        top: 3rem;
        right: 1rem;
        text-align: right; */
    }
}

.wrapper--paypal-button {
    text-align: center;
}

.wrapper--patreon-button {
    display: block;
    width: 100%;
    max-width: 198px;
    text-align: center;
    height: 40px;

    @media (min-width: 1024px) {
        .body-multi & {
            margin-top: -0.75rem;
        }
    }
}